body{
    margin: 0;
}
.login {
    margin: auto;
    width: 80%;
    border: 3px solid #3F51B5;
    padding: 10px;
    justify-content: center;
    max-height: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.login-form-heading{
margin-bottom: 2rem;
}
.login-form{
    display: inline-block;
}


.sigup {
    margin: auto;
    width: 80%;
    border: 3px solid #3F51B5;
    padding: 10px;
    justify-content: center;
    max-height: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.sigup-form-heading{
margin-bottom: 2rem;
}
.sigup-form{
    display: inline-block;
}
.card-button-link{
    color: #757575;
    text-decoration: none;
    padding: 0rem 0.5rem;
}
.navbar{
    background-color: #3F51B5 !important;
}

.hamburgerIcon {
    position: absolute !important;
    right: 0;
    top: 0;
}
.logoIcon {
    position: absolute;
    left: 0;
}
.mb-logo {
    position: absolute;
    left: 2rem;
}
.nav-link{
   /* color: #fff !important; */
    padding: 0rem 0.5rem;
    text-decoration: none;
}
.md-device-link{
    color:#fff;
}
.xs-device-link{
    color:#3F51B5;
}
.nav-xs-ul{
    display: block !important;
    line-height: 0 !important;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    right: 8px;
    top: 4.25rem !important;
}
.m_bottom-2{
    margin: 0.5rem;
}
.icon_mr-4 {
width: 100%;
}
.img-fluid{
    max-width: 100%; 
    height: auto;
}
.card-content-flex p{
    text-align: right;
    float: right;
    margin-top: 7px;
}
.card-content-flex h2 {
    display: contents;
}
.upgrad-card-content{
    max-height: 20rem;
}

.upgrad-card-content .description{
    max-height: 5rem;
}
.w-3\/5.m-auto.flex.justify-between {
    display: flex;
    width: 100%;
}
.w-3\/5 .button-link{
    text-align: left;
    margin-right: auto;
}
.css-1mow3mh-MuiGrid-root {
    max-width: 100% !important;
}
.upgrad-card-content .description{
max-height: 100px;
min-height: 100px;
}
a.button-link {
    background-color: #3F51B5;
    color: #fff;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
}
.title-flex{
    display: flex;
}
.title-flex p{
    background-color: #3F51B5;
    color: #fff;
    padding: 11px 13px;
    border-radius: 50px;
    height: 3px;
    line-height: 0.2;
    margin-top: 20px;
    margin-left: 13px;
}